@model AddRemoveRoleFromUserFormModel

@{
    ViewData["Title"] = "Add Role To User";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <form method="post">
            <h2 class="text-center font-weight-bold text-primary">Добави роля</h2>
            <div class="form-group">
                <label asp-for="UserId">Потребител</label>
                <select asp-for="UserId" class="form-control">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.UserId">@user.UserName - @user.FirstName @user.LastName</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId">Роля</label>
                <select asp-for="RoleId" class="form-control">
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Добави" />
            </div>
        </form>
    </div>
</div>