@model AddRecipeFormModel

@{
    ViewData["Title"] = "Add Recipe";
}

<div>
    <div class="col-sm-12 offset-md-4 col-md-4 col-lg-6 offset-xl-3 col-xl-6">
        <div class="text-center">
            <h2 class="text-center font-weight-bold text-primary">Добавяне на рецепта </h2>
        </div>
        <div class="mt-2 mb-2 text-center text-success">
            <h5 class="text-success">@Model.RecipeInfo</h5>
        </div>
        <form method="post">
            <div style="overflow-x: auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 50%;" class="text-center">
                                Име на материала     -   М.ед.
                            </th>
                            <th style="width: 20%;" class="text-center">
                                Количество
                            </th>
                            <th style="width: 20%;" class="text-center">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var material in Model.AddedMaterialsToRecipe)
                        {
                            <tr>
                                <td>
                                    @material.MaterialName - @material.MeasurementName
                                </td>
                                <td class="text-right">
                                    @material.MaterialQuantity.ToString("#,##0.000")
                                </td>
                                <td class="text-right">
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="form-group col-7">
                    <select asp-for="WarehouseMaterialMaterialId" class="form-control">
                        @foreach (var warehouseMaterial in Model.WarehouseMaterials)
                        {
                            <option value="@warehouseMaterial.MaterialId">
                                @warehouseMaterial.MaterialName   -  @warehouseMaterial.MeasurementName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group col-2">
                    <input asp-for="MaterialQuantity" class="form-control">
                    <span asp-validation-for="MaterialQuantity" class="small text-danger"></span>
                </div>
                <div class="col-2">
                    <input class="btn btn-outline-primary" type="submit" name="addButton" value="Добави" />
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-primary m-2" type="submit" name="saveButton" value="Върни се на главна страница" />
            </div>
        </form>
    </div>
</div>
