@model AddMaterialToWarehouseFormModel_2

@{
    ViewData["Title"] = "Add Material To Warehouse";
}

<div>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
        <div class="row mt-2 mb-2">
            <h5 class="text-center">@Model.ReceiptInfo</h5>
        </div>
        <form method="post">
            <div style="overflow-x: auto">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 34%;">
                                Име на материала
                            </th>
                            <th style="width: 17%;">
                                М.ед.
                            </th>
                            <th style="width: 15%;">
                                Количество
                            </th>
                            <th style="width: 17%;">
                                Цена
                            </th>
                            <th style="width: 17%;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var material in Model.AddedMaterials)
                        {
                            <tr>
                                <td>
                                    @material.MaterialName
                                </td>
                                <td class="text-center">
                                    @material.MeasurementName
                                </td>
                                <td class="text-right">
                                    @material.Quantity.ToString("#,##0.00")
                                </td>
                                <td class="text-right">
                                    @material.Price.ToString("#,##0.00")
                                </td>
                                <td class="text-right">
                                    @{ 
                                        var total = material.Quantity * material.Price;
                                    }

                                    @total.ToString("#,##0.00")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <select asp-for="MaterialId" class="form-control">
                        @foreach (var material in Model.Materials)
                        {
                            <option value="@material.Id">
                                @material.Name   -  @material.MeasurementName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group col-2">
                    <input asp-for="Quantity" class="form-control">
                    <span asp-validation-for="Quantity" class="small text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <input asp-for="UnitPrice" class="form-control">
                    <span asp-validation-for="UnitPrice" class="small text-danger"></span>
                </div>
                <div class="col-2 mt-2 mb-5">
                    <input class="btn btn-outline-primary h-75" type="submit" value="Добави" />
                </div>
            </div>


            <input class="btn btn-primary m-1" type="submit" value="Запази документ" />
        </form>
    </div>
</div>
