@model BillViewModel

@{
    ViewData["Title"] = "Bill details";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <h2 class="text-center font-weight-bold text-primary">Детайли на сметка</h2>
        <div class="border">
            <h5>Сметка номер @Model.Id</h5>
            <h5>Сервитьор: @Model.UserName</h5>
            <h6>Дата и час на отваряне:</h6>
            <h6>@Model.OpenDateTime.ToString()</h6>
        </div>
        <ul class="list-group border-0">
            @foreach (var soldProduct in Model.SoldProducts)
            {
                var sum = @soldProduct.Quantity * @soldProduct.Price;

                <li class="list-group-item d-flex justify-content-between align-items-center border-top-0">
                    @soldProduct.StoreProductName - @soldProduct.Quantity @soldProduct.MeasurementName  x @soldProduct.Price.ToString("#,##0.00")
                    <span class="badge badge-pill">@sum.ToString("#,##0.00")</span>
                </li>
            }
        </ul>
        <div class="border">
            <div class="m-1">
                <div class="text-right m-2">
                    <h6>Общо @Model.TotalSum.ToString("#,##0.00") лв.</h6>
                    @{
                        var vat = Model.TotalSum / 6m;
                    }
                    <h6>Включено ДДС(20%) @vat.ToString("#,##0.00") лв.</h6>
                </div>
                <h6>Начин на плащане: @Model.PaymentTypeName</h6>
                <h6>Дата и час на приключване:</h6>
                <h6>@Model.CloseDateTime.ToString()</h6>
            </div>
        </div>
        <div class="m-2">
            <a asp-controller="Seller" asp-action="ChooseStore" class="btn btn-outline-secondary btn-block">Затвори</a>
        </div>
    </div>
</div>
