@model ChooseTableFormModel

@{
    ViewData["Title"] = "Choose A Table";
}

<form method="post">
    <div class="col-sm-12 col-lg-8 offset-xl-4 col-xl-4">
        <h2 class="text-center font-weight-bold text-primary">Избери маса</h2>
        <h5 class="text-center embed-responsive">Обект: @Model.StoreName</h5>
    </div>
    <div class="offset-3 col-md-6 col-sm-8">
        <container>
            @for (int row = 0; row <= Model.TablesInStore / 5; row++)
            {
                <div class="row">
                    @for (int i = row * 5 + 1; i <= (row + 1) * 5; i++)
                    {
                        if (Model.TablesWithOpenBills.Any(t => t.TableNumber == i))
                        {
                            <button class="btn btn-outline-danger btn-lg col-2 m-2 text-center" type="submit" name="tableNumber" value="@i">@i</button>
                        }
                        else
                        {
                            <button class="btn btn-outline-success btn-lg col-2 m-2 text-center" type="submit" name="tableNumber" value="@i">@i</button>
                        }

                        if (i >= Model.TablesInStore)
                        {
                            break;
                        }
                    }
                </div>
            }
        </container>
    </div>
</form>



