@model TableFormModel

@{
    ViewData["Title"] = "Table with bills";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <form method="post">
            <h2 class="text-center font-weight-bold text-primary">Отворени сметки</h2>
            <h5 class="text-center embed-responsive">Обект: @Model.StoreName</h5>
            <h5 class="text-center embed-responsive">Маса № @Model.TableNumber</h5>
            <div class="border m-2">
                @foreach (var bill in Model.OpenBills)
                {
                    <button class="btn btn-outline-primary btn-lg col-2 m-2 text-center" type="submit" name="billNumberToView" value="@bill.Id">@bill.UserName @bill.TotalSum</button>
                }
            </div>
            <div class="m-2">
                <div class="text-center m-2">
                    <input class="btn btn-primary" type="submit" name="goBack" value="Назад" />
                </div>
                <div class="text-center m-2">
                    <input class="btn btn-primary" type="submit" name="newBill" value="Нова сметка" />
                </div>
            </div>
        </form>
    </div>
</div>
